<!-- blog details related blog section -->
<section class="lp:py-39! py-20 md:py-28">
  <div class="main-container">
    <div class="space-y-[70px]">
      <div class="space-y-3 text-center">
        <h2
          data-text-reveal
          class="font-sora text-sora-heading-4 md:text-sora-heading-3 lg:text-sora-heading-2 text-background-13/90 font-normal"
        >
          Related blog
        </h2>
        <p
          data-text-reveal
          data-delay="0.2"
          class="font-inter-tight text-tagline-2 text-background-13/60 font-normal"
        >
          Essential Guidelines and Trends in Modern Public Space Design
        </p>
      </div>

      <!-- cards  -->
      <div class="grid grid-cols-12 items-center justify-center gap-y-4 sm:gap-4">
        <!-- card one  -->
        <div data-opai-animate data-delay="0.3" class="col-span-12 md:col-span-6">
          <Component
            src="src/components/shared/card/blog-card.htm"
            image="./images/opai-img-16.png"
            date="January 12, 2026"
            img-class="!h-[370px]"
            badge1="Design"
            badge2="Materials"
            title="Choosing the Right Materials for Public Space Benches: WPC vs. Concrete vs. Timber"
            alt="Choosing the Right Materials for Public Space Benches"
          />
        </div>
        <!-- card two  -->
        <div data-opai-animate data-delay="0.3" class="col-span-12 md:col-span-6">
          <Component
            src="src/components/shared/card/blog-card.htm"
            image="./images/opai-img-18.png"
            date="March 20, 2026"
            img-class="!h-[370px]"
            badge1="Landscape"
            badge2="Plazas"
            title="Designing Integrated Planter-Seating Systems for Modern Township Plazas"
            alt="Designing Integrated Planter-Seating Systems"
          />
        </div>
      </div>
    </div>
  </div>
</section>


