<!-- famous blog section -->
<section class="lp:py-39! py-20 md:py-28">
  <div class="main-container">
    <div class="space-y-[70px]">
      <div>
        <h2
          data-text-reveal
          class="font-sora text-sora-heading-4 md:text-sora-heading-3 lg:text-sora-heading-2 text-background-13/90 text-center font-normal"
        >
          Don’t miss this
        </h2>
        <p
          data-text-reveal
          data-delay="0.2"
          class="font-inter-tight text-tagline-2 text-background-13/50 text-center font-normal"
        >
          Essential Guidelines and Trends in Modern Public Space Design
        </p>
      </div>
      <div class="grid grid-cols-12 items-center justify-center gap-y-4 sm:gap-4">
        <!-- card one  -->
        <div data-opai-animate data-delay="0.1" class="col-span-12 md:col-span-6">
          <Component
            src="src/components/shared/card/blog-card.htm"
            image="./images/opai-img-16.png"
            date="July 5, 2026"
            img-class="!h-[370px]"
            badge1="Ergonomics"
            badge2="Design"
            title="The Science of Ergonomics: Creating Comfort in Public Park Bench Design"
          />
        </div>

        <!-- card two  -->
        <div data-opai-animate data-delay="0.2" class="col-span-12 md:col-span-6">
          <Component
            src="src/components/shared/card/blog-card.htm"
            image="./images/opai-img-17.png"
            date="July 6, 2026"
            img-class="!h-[370px]"
            badge1="Engineering"
            badge2="Wicker"
            title="Weatherproofing Wicker: The Engineering Behind Weather-Resistant Outdoor Furniture"
          />
        </div>

        <!-- card three  -->
        <div data-opai-animate data-delay="0.3" class="col-span-12 md:col-span-6">
          <Component
            src="src/components/shared/card/blog-card.htm"
            image="./images/opai-img-18.png"
            date="July 7, 2026"
            img-class="!h-[370px]"
            badge1="Compliance"
            badge2="Codes"
            title="Specifying Street Furniture: How Developers Align with Municipal Codes and Guidelines"
          />
        </div>

        <!-- card four  -->
        <div data-opai-animate data-delay="0.4" class="col-span-12 md:col-span-6">
          <Component
            src="src/components/shared/card/blog-card.htm"
            image="./images/opai-img-19.png"
            date="July 8, 2026"
            img-class="!h-[370px]"
            badge1="Innovation"
            badge2="Solar"
            title="Smart City Seating: Integrating USB Ports and Solar Panels in Modern Benches"
          />
        </div>
      </div>
    </div>
  </div>
</section>


